body {
  background-color: black;
  color: white;
  margin: 0;
}

.tooltip {
  position: absolute;
  padding: 5px 10px;
  background-color: #333;
  color: #fff;
  border-radius: 3px;
  font-size: 12px;
}

.hover-highlight {
  stroke-width: 2;
  stroke: #ccc;
  /* transition: all 0.2s ease; */
}

#app {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.stats-container {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 15rem;
  column-gap: .25rem;
}
